@media (min-width: 320px) and (max-width: 768px) {
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  
}

@media (min-width: 1025px) and (max-width: 1440px) {
  
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .progress_txt {
    font-size: 30px;
  }

  .step_wrap {
    margin-top: 50px;
  }

  .step_txt {
    font-size: 40px;
  }

  .choice__txt {
  margin-top: 0;
  font-size: 34px;
}

  .next_step {
    width: 300px;
    padding: 20px 50px;
  }

  .next_step__text {
    font-size: 30px;
  }

  .next_step__text::after {
    bottom: 24%;
    right: -13%;
  }
}