/*@import url(fonts.css);
@import url(media.css);
@import url(header.css);
*/

.input_invisible {
  display: none;
}

.container_2,
.container_3,
.container_4,
.container_5 {
  display: none;
}

ul {
  padding: 0;
}

li {
  /*display: inline-block;*/
  height: 20px;
}

.container {
  margin: 50px;
  font-family: sans-serif;
}

/*.header_next {
  margin-top: 20px;
}*/

.header__txt {
  display: block;
  margin-top: 0px;
  font-size: 40px;
}

.progress_wrap {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  /*  height: 60px;*/
  background-color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.progress_item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  background-color: darkgreen;
}

.progress_item_1 {
  width: 25%;
}

.progress_item_2 {
  width: 50%;
}

.progress_item_3 {
  width: 75%;
}

.progress_item_4 {
  width: 100%;
}

.progress_txt {
  position: relative;
  z-index: 2;
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.step_wrap {
  margin: 30px 20px 30px 40px;
}

.step_txt {
  margin-right: 10px;
  line-height: 13px;
}

.page_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.step_icon {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 13px;
  height: 13px;
  border: 1px solid darkgreen;
  border-radius: 50%;
}

.step_icon::after {
  position: absolute;
  top: 45%;
  right: -160%;
  content: '';
  width: 20px;
  height: 1px;
  background-color: darkgreen;
}

.step_icon:last-child::after {
  display: none;
}

.active {
  background: darkgreen;
}

.main {
  margin-left: 40px;
}


/*.main_last {
  margin-bottom: 40px;
}*/

.title {
  position: relative;
  margin-left: 50px;
}

.title::before {
  position: absolute;
  content: '';
  top: -20%;
  left: -60px;
  width: 50px;
  height: 50px;
  border: 3px solid darkgreen;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title::after {
  position: absolute;
  left: -45px;
}

.title_1::after {
  content: '1';
}

.title_2::after {
  content: '2';
}

.title_3::after {
  content: '3';
}

.title_4::after {
  content: '4';
}

.title_5::after {
  content: '5';
}

.choice_wrap {
  margin-top: 30px;
  margin-left: 40px;
}

.choice__item {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #555;
  text-align: center;
  border: none;

  color: #000;
  font-weight: bold;
}

.choice__item:hover {
  opacity: 0.8;
}
/*
.choice__item_1 {
  height: 100px;
}

.choice__item_2 {
  height: 150px;
  }*/

  .choice__item_4 {
    background-color: red;
  }

  .choice__item_5 {
    background-color: yellow;
  }

  .choice__item_6 {
    background-color: green;
  }

/*  .choice__txt {
    display: block;
    margin-top: 50%;
    height: 40%;
    color: #000;
    font-weight: bold;
    }*/

    #style li {
      padding: 10px 30px;
      border: 3px solid #555;
      border-radius: 10px;
      font-weight: bold;
      list-style-type: none;
    }

    .next_step {
      display: block;
/*      display: none;*/
      margin-top: 20px;
      margin-left: 40px;
      padding: 20px;
      width: 200px;
      border-radius: 10px;
      background-color: darkgreen;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }

    .next_step:hover {
      background-color: green;
    }

    .next_step__text {
      position: relative;
    }

    .next_step__text::after {
      position: absolute;
      bottom: 10%;
      right: -15%;
      content: '';
      width: 10px;
      height: 10px;
      border-top: 2px solid #000;
      border-right:2px solid #000;
      transform: rotate(45deg);
    }

    .input_wrap {
      margin-left: 40px;
    }

    .input {
      width: 40%;
      padding: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .input_descr {
      display: block;
      margin-bottom: 20px;
    }

    .input_btn {
      display: block;
      margin-top: 20px;
      padding: 20px;
      width: 40%;
      border: none;
      border-radius: 5px;
      background-color: darkgreen;
      color: #fff;
      font-weight: bold;
    }

    .btn_active {
      border: 3px solid #000;
    }

    @media (min-width: 320px) and (max-width: 424px) {
      .container {
        margin: 20px 20px 0 20px;
      }

      .main {
        margin-left: 10px;
      }

      .header__txt {
        margin-top: 3px;
        font-size: 14px;
        text-align: center;
      }

      .progress_wrap {
        margin-top: 10px;
        padding: 5px;
      }

      .progress_txt {
        margin: 0;
        font-size: 12px;
      }

      .step_wrap {
        margin: 10px;
      }

      .title {
        margin: 0;
        margin-left: 25px;
        font-size: 12px;
      }

      .title:before {
        top: -5px;
        left: -29px;
        width: 25px;
        height: 25px;
      }

      .title:after {
        top: 0;
        left: -21px;
      }

      .choice_wrap {
        margin: 10px 0px 0 0;
      }

      .choice__item {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 45%;
        height: 70px;

        font-size: 10px;
      }

      .next_step {
        width: 140px;
        margin-top: 0px;
        margin-left: 0;
        padding: 10px;
      }

      .next_step__text {
        font-size: 12px;
      }

      .next_step__text::after {
        bottom: 12%;
        width: 7px;
        height: 7px;
      }

/*    .choice__txt {
      margin-top: 0;
      font-size: 10px;
      }*/

      .input_wrap {
        margin-left: 0;
      }

      .input_descr {
        margin: 10px;
        font-size: 12px;
      }

      .input {
        padding: 10px;
        width: 100%;
      }

      .input_btn {
        padding: 15px;
        width: 100%;
      }
    }

    @media (min-width: 425px) and (max-width: 768px) {
      .container {
        margin: 20px;
        margin-bottom: 0;
      }

      .main {
        margin-left: 10px;
      }

      .header__txt {
        margin-top: 0;
        font-size: 14px;
      }

      .progress_wrap {
        margin-top: 10px;
        padding: 10px;
      }

      .progress_txt {
        margin: 0;
        font-size: 14px;
      }

      .step_wrap {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .title {
        margin-top: 0;
        font-size: 15px;
      }

      .title:before {
        top: -5px;
        left: -34px;
        width: 28px;
        height: 28px;
      }

      .title:after {
        top: 0;
        left: -25px;
      }

      .choice_wrap {
        margin-left: 0px;
        margin-top: 20px;
      }

      .next_step {
        margin-left: 0;
        margin-top: 0px;
        padding: 10px;
      }

      .next_step__text {
        font-size: 12px;
      }

      .choice__item {
        width: 29%;
        height: 100px;
        margin-right: 10px;

        font-size: 12px;
      }

/*    .choice__txt {
      margin-top: 0;
      font-size: 12px;
      }*/

      .input {
        padding: 10px;
        width: 100%;
      }

      .input_wrap {
        margin-left: 0;
      }

      .input_btn {
        padding: 15px;
        width: 100%;
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      .title:before {
        top: -5px;
      }

      .title_5::after {
        top: 0;
      }

      .input {
        width: 60%;
      }

      .input_btn {
        width: 60%;
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      .container {
        margin-top: 10px;
        margin-bottom: 0;
      }

      .main {
        margin-left: 10px;
      }

      .header__txt {
        margin-top: 0;
        font-size: 25px;
      }

      .progress_wrap {
        margin-top: 10px;
      }

      .progress_txt {
        margin: 0;
        font-size: 16px;
      }

      .step_wrap {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .title {
        margin-top: 0;
        font-size: 22px;
      }

      .title:before {
        left: -57px;
        width: 40px;
        height: 40px;
      }

      .choice_wrap {
        margin-top: 20px;
      }

      .next_step {
        margin-top: 0px;
        padding: 10px;
      }

      .next_step__text {
        font-size: 12px;
      }

      .choice__item {
        width: 22%;
        height: 100px;
        margin-right: 10px;

        font-size: 12px;
      }

/*    .choice__txt {
      margin-top: 0;
      font-size: 12px;
      }*/
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
      .container {
        width: 70%;
        margin: 40px auto;
        margin-bottom: 0;
      }

      .header__txt {
        font-size: 24px;
      }

      .progress_wrap {
        margin-top: 20px;
      }

      .progress_txt {
        margin: 0;
      }

      .step_wrap {
        margin-bottom: 20px;
      }
      .choice_wrap {
        margin-top: 20px;
      }

      .next_step {
        margin-top: 10px;
      }

      .choice__item {
        width: 28%;
        margin-right: 10px;
        height: 100px;

        font-size: 12px;
      }

/*    .choice__txt {
      margin-top: 0;
      font-size: 12px;
      }*/

      .title_5::before {
        top: -5px;
      }

      .title_5::after {
        top: 0;
      }
    }

    @media (min-width: 1441px) and (max-width: 2560px) {
      .container {
        width: 70%;
        margin: 50px auto;
        margin-bottom: 0;
      }

      .progress_wrap {
        margin-top: 20px;
      }

      .progress_txt {
        margin: 0;
        font-size: 30px;
      }

/*    .step_wrap {
      margin-top: 50px;
      }*/

      .step_txt {
        font-size: 40px;
      }

      .step_icon {
        width: 23px;
        height: 23px;
        border: 2px solid darkgreen;
      }

      .step_icon::after {
        height: 3px;
        right: -93%;
      }

      .choice__item {
        width: 25%;

        font-size: 24px;
      }

/*    .choice__txt {
      margin-top: 0;
      font-size: 24px;
      }*/

      .next_step {
        width: 300px;
        padding: 20px 50px;
      }

      .next_step__text {
        font-size: 30px;
      }

      .next_step__text::after {
        bottom: 24%;
        right: -13%;
      }

      .input_descr {
        font-size: 20px;
      }
    }