.input_invisible {
  display: none;
}

.img_wrap img {
  width: 100%;
}

.img_wrap {
  margin: 40px auto;
  width: 50%;
}

.container_0 {
  text-align: center;
}

.container_1,
.container_2,
.container_3,
.container_4,
.container_5 {
  display: none;
}

ul {
  padding: 0;
}

li {
  height: 20px;
}

.container {
  margin: 50px;
  font-family: sans-serif;
}

.container_thanks {
  width: 60%;
  margin: 40px auto;
}

.header__txt {
  display: block;
  margin-top: 0px;
  font-size: 40px;
}

.progress_wrap {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  background-color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.progress_item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  background-color: darkgreen;
}

.progress_item_1 {
  width: 25%;
}

.progress_item_2 {
  width: 50%;
}

.progress_item_3 {
  width: 75%;
}

.progress_item_4 {
  width: 100%;
}

.progress_txt {
  position: relative;
  z-index: 2;
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.step_wrap {
  margin: 30px 20px 30px 40px;
}

.step_txt {
  margin-right: 10px;
  line-height: 13px;
}

.page_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.step_icon {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 13px;
  height: 13px;
  border: 1px solid darkgreen;
  border-radius: 50%;
}

.step_icon::after {
  position: absolute;
  top: 45%;
  right: -160%;
  content: '';
  width: 20px;
  height: 1px;
  background-color: darkgreen;
}

.step_icon:last-child::after {
  display: none;
}

.active {
  background: darkgreen;
}

.main {
  margin-left: 40px;
}

.title {
  position: relative;
  margin-left: 50px;
}

.title_thanks {
  margin-top: 40px;
  text-align: center;
}

.link_thanks {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.title::before {
  position: absolute;
  content: '';
  top: -20%;
  left: -60px;
  width: 50px;
  height: 50px;
  border: 3px solid darkgreen;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title::after {
  position: absolute;
  left: -45px;
}

.title_1::after {
  content: '1';
}

.title_2::after {
  content: '2';
}

.title_3::after {
  content: '3';
}

.title_4::after {
  content: '4';
}

.title_5::after {
  content: '5';
}

.choice_wrap {
  margin-top: 30px;
  margin-left: 40px;
}

.choice__item {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #555;
  text-align: center;
  border: none;

  color: #000;
  font-weight: bold;

  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.choice__item:hover {
  opacity: 0.8;
}

.choice__item_1 {
  background-image: url(../imgs/classical.jpg);
}

.choice__item_2 {
  background-image: url(../imgs/premium.jpg);
}

.choice__item_3 {
  background-image: url(../imgs/modern.jpg);
}

.choice__item_4 {
  background-image: url(../imgs/str8.jpg);
}

.choice__item_5 {
  background-image: url(../imgs/g.jpg);
}

.choice__item_6 {
  background-image: url(../imgs/p.jpg);
}

.choice__item_67 {
  background-image: url(../imgs/island.jpg);
}

.choice__item_7 {
  background-image: url(../imgs/enamel.jpg);
}

.choice__item_8 {
  background-image: url(../imgs/veneer.jpg);
}

.choice__item_9 {
  background-image: url(../imgs/solid.jpg);
}

.choice__item_10 {
  background-image: url(../imgs/plastic.jpg);
}

.choice__item_11 {
  background-image: url(../imgs/concrete.jpg);
}

.choice__item_12 {
  background-image: url(../imgs/idk.png);
}

.choice__item_13,
.choice__item_14,
.choice__item_15,
.choice__item_16,
.choice__item_17 {
  height: 50px;
}

.choice_inner {
  display: inline-block;
}

.choice_txt {
  display: block;
}

#style li {
  padding: 10px 30px;
  border: 3px solid #555;
  border-radius: 10px;
  font-weight: bold;
  list-style-type: none;
}

.next_step {
  display: block;
  margin-top: 20px;
  margin-left: 40px;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background-color: darkgreen;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.next_step:hover {
  background-color: green;
}

.next_step__text,
.next_step__text_main {
  position: relative;
}



.next_step__text::after,
.next_step__text_main::after {
  position: absolute;
  bottom: 10%;
  right: -15%;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right:2px solid #000;
  transform: rotate(45deg);
}

.next_step__text_main::after {
  right: -50%;
}

.input_wrap {
  margin-left: 40px;
}

.input {
  width: 40%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input_descr {
  display: block;
  margin-bottom: 20px;
}

.input_btn {
  display: block;
  margin-top: 20px;
  padding: 20px;
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: #fff;
  font-weight: bold;
}

.btn_active {
  border: 3px solid #000;
}

.next_step,
.input_btn {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 425px) {
  .container {
    margin: 20px 20px 0 20px;
  }

  .main {
    margin-left: 10px;
  }

  .img_wrap {
    width: 80%;
    margin: 20px auto;
  }

  .header__txt {
    margin-top: 3px;
    font-size: 14px;
    text-align: center;
  }

  .progress_wrap {
    margin-top: 10px;
    padding: 5px;
  }

  .progress_txt {
    margin: 0;
    font-size: 12px;
  }

  .step_wrap {
    margin: 10px;
  }

  .title {
    margin: 0;
    margin-left: 25px;
    font-size: 12px;
  }

  .title:before {
    top: -5px;
    left: -29px;
    width: 25px;
    height: 25px;
  }

  .title:after {
    top: 0;
    left: -21px;
  }

  .choice_wrap {
    margin: 10px 0px 0 0;
  }

  .choice_inner {
    width: 49%;
    margin-bottom: 5px;
  }

  .choice_txt {
    text-align: center;
    font-size: 10px;
  }

  .choice__item {
    margin-right: 0px;
    margin-bottom: 5px;
    width: 100%;
    height: 120px;

    font-size: 10px;
  }

  .choice__item_1 {
    -ms-background-position-y: 100%;
    background-position-y: 100%;
  }

  .next_step {
    width: 140px;
    margin-top: 0px;
    margin-left: 0;
    padding: 10px;
    padding-right: 20px;
  }

  .next_step_main {
    width: 80%;
    margin: 0 auto;
  }

  .next_step__text {
    font-size: 12px;
  }

  .next_step__text::after,
  .next_step__text_main::after {
    bottom: 12%;
    width: 7px;
    height: 7px;
  }

  .input_wrap {
    margin-left: 0;
  }

  .input_descr {
    margin: 10px;
    font-size: 12px;
  }

  .input {
    padding: 10px;
    width: 100%;
  }

  .input_btn {
    padding: 15px;
    width: 100%;
  }

  .choice__item_13,
  .choice__item_14,
  .choice__item_15,
  .choice__item_16,
  .choice__item_17 {
    background-color: lightgreen;
    height: 50px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    margin: 20px;
    margin-bottom: 0;
  }

  .main {
    margin-left: 10px;
  }

  .img_wrap {
    width: 60%;
    margin: 20px auto;
  }

  .header__txt {
    margin-top: 0;
    font-size: 17px;
  }

  .progress_wrap {
    margin-top: 10px;
    padding: 10px;
  }

  .progress_txt {
    margin: 0;
    font-size: 14px;
  }

  .step_wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title {
    margin-top: 0;
    font-size: 15px;
  }

  .title:before {
    top: -5px;
    left: -34px;
    width: 28px;
    height: 28px;
  }

  .title:after {
    top: 0;
    left: -25px;
  }

  .choice_wrap {
    margin-left: 0px;
    margin-top: 20px;
  }

  .choice__item {
    margin-bottom: 5px;
    width: 95%;
    font-size: 12px;
  }

  .choice__item_4,
  .choice__item_5,
  .choice__item_6,
  .choice__item_67 {
    -ms-background-position-x: 30%;
    background-position-x: 30%;
  }

  .choice_inner {
    width: 49%;
    margin-bottom: 10px;
    text-align: center;
  }

  .choice__txt {
    text-align: center;
  }

  .next_step {
    margin-left: 0;
    margin-top: 0px;
    padding: 10px;
  }

  .next_step_main {
    width: 60%;
    margin: 0 auto;
  }


  .next_step__text,
  .next_step__text_main {
    font-size: 12px;
  }

  .input {
    padding: 10px;
    width: 100%;
  }

  .input_wrap {
    margin-left: 0;
  }

  .input_btn {
    padding: 15px;
    width: 100%;
  }

  .choice__item_13,
  .choice__item_14,
  .choice__item_15,
  .choice__item_16,
  .choice__item_17 {
    background-color: lightgreen;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .img_wrap {
    width: 50%;
    margin: 20px auto;
  }

  .title:before {
    top: -5px;
  }

  .title_5::after {
    top: 0;
  }

  .input {
    width: 60%;
  }

  .input_btn {
    width: 60%;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .main {
    margin-left: 10px;
  }

  .header__txt {
    margin-top: 0;
    font-size: 22px;
  }

  .progress_wrap {
    margin-top: 10px;
  }

  .progress_txt {
    margin: 0;
    font-size: 16px;
  }

  .step_wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title {
    margin-top: 0;
    font-size: 22px;
  }

  .title:before {
    left: -57px;
    width: 40px;
    height: 40px;
  }

  .choice_wrap {
    margin-top: 20px;
  }

  .next_step {
    margin-top: 0px;
    padding: 10px;
  }

  .next_step_main {
    width: 50%;
    margin: 0 auto;
  }

  .next_step__text,
  .next_step__text_main {
    font-size: 12px;
  }

  .next_step__text_main {
    font-size: 18px;
  }

  .choice_inner {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin-bottom: 10px;
  }

  .choice__item {
    width: 95%;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .choice__item_5 {
    -ms-background-position-y: 70%;
    background-position-y: 70%;
  }

  .choice_txt {
    margin-top: 5px;
  }

  .choice__item_13,
  .choice__item_14,
  .choice__item_15,
  .choice__item_16,
  .choice__item_17 {
    background-color: lightgreen;
    height: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
    width: 70%;
    margin: 40px auto;
    margin-bottom: 0;
  }

  .header__txt {
    font-size: 24px;
  }

  .progress_wrap {
    margin-top: 20px;
  }

  .progress_txt {
    margin: 0;
  }

  .step_wrap {
    margin-bottom: 20px;
  }
  .choice_wrap {
    margin-top: 20px;
  }

  .next_step {
    margin-top: 10px;
  }

  .next_step_main {
    width: 50%;
    margin: 0 auto;
  }

  .next_step__text_main {
    font-size: 18px;
  }

  .choice_inner {
    display: inline-block;
    width: 32%;
    text-align: center;
  }

  .choice__item {
    width: 95%;
    margin-right: 10px;
    height: 260px;

    font-size: 12px;
  }

  .choice__item_1 {
    -ms-background-position-x: 80%;
    background-position-x: 80%;
  }

  .choice__item_4,
  .choice__item_5,
  .choice__item_6,
  .choice__item_67 {
    -ms-background-position-x: 30%;
    background-position-x: 30%;
  }

  .choice_txt {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .title_5::before {
    top: -5px;
  }

  .title_5::after {
    top: 0;
  }

  .choice__item_13,
  .choice__item_14,
  .choice__item_15,
  .choice__item_16,
  .choice__item_17 {
    background-color: lightgreen;
    height: 50px;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .container {
    width: 70%;
    margin: 50px auto;
    margin-bottom: 0;
  }

  .progress_wrap {
    margin-top: 20px;
  }

  .progress_txt {
    margin: 0;
    font-size: 30px;
  }

  .step_txt {
    font-size: 40px;
  }

  .step_icon {
    width: 23px;
    height: 23px;
    border: 2px solid darkgreen;
  }

  .step_icon::after {
    height: 3px;
    right: -93%;
  }

  .choice_inner {
    display: inline-block;
    width: 32%;
    text-align: center;
  }

  .choice__item {
    width: 95%;
    height: 300px;
    font-size: 24px;
  }

  .choice__item_1 {
    -ms-background-position-x: 80%;
    background-position-x: 80%;
  }

  .choice__item_4,
  .choice__item_5,
  .choice__item_6,
  .choice__item_67 {
    -ms-background-position-x: 30%;
    background-position-x: 30%;
  }

  .choice_txt {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .next_step {
    width: 370px;
    padding: 20px 50px;
  }

  .next_step_main {
    width: 50%;
    margin: 0 auto;
  }


  .next_step__text,
  .next_step__text_main {
    font-size: 30px;
  }

  .next_step__text::after,
  .next_step__text_main::after {
    bottom: 24%;
    right: -13%;
  }

  .next_step__text_main::after {
    right: -50%;
  }

  .input_descr {
    font-size: 20px;
  }

  .choice__item_13,
  .choice__item_14,
  .choice__item_15,
  .choice__item_16,
  .choice__item_17 {
    background-color: lightgreen;
    height: 50px;
  }

}